h1{
    text-align: center;
    margin-top: 50px;
}

.date{
    float: left;
    position: relative;
    display: block;
    width: 200px;
    margin-left: 20px;
    
}
.calender{
    
    height: 100px;
    width: 200px;
    margin-left: 480px;
    margin-top: 10px;
    margin-bottom: 50px;
    float:left;
    
}

#info{
    color: red;
    text-align: center;
}
#calendar3 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar3 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar3 tbody td {
  color: rgb(44, 86, 122);
}
#calendar3 tbody td:nth-child(n+6), #calendar3 .holiday {
  color: rgb(231, 140, 92);
}
#calendar3 tbody td.today {
  outline: 3px solid red;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2016, 2:52:37 PM
    Author     : pupil
*/

